body {
  text-align: center;
  font-family: "Courier New", monospace;
  background-image: url(https://lh4.googleusercontent.com/proxy/0oC7k_TIObulYX2S2y81dQHm4NSxcPQowgM7qUX9rvIyr3mAP5mdzf_FpX5Z-zFQaYI7LmWeP7846KlBg0MzUFKTQl3S_5Laag4Q6Q7nlUsJY2rNvYmkBDWT4YG8EVWo5ILh2cpxBsYn01g=w1200-h630-p-k-no-nu;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin: 0 auto;
  font-family: "Courier New", monospace;
  font-size: 50px;
  margin: 2%;
  color: #D0CCCD;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0.5%;
  border-style: dotted;
  padding: 10px;
  background-color:#DEDBD7;
  color: #213B48;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D0CCCD

}

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
  height: 456px;
  width: 456px;
}

.square {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 96px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
}

.square:hover {
  background-color:#1C3341;
  cursor: pointer;
}

#reset-button {
  background-color: #DEDBD7;
  border: 1px solid black;
  color: black;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

#reset-button:hover {
  background-color: #5A7684;
  color: white;
  cursor: pointer;
}

table {
  border-collapse: separate;
  border-spacing: 75px 0;
  color: #DEDBD7
}

td {
  padding: 10px 0;
}

button {
  font-size: 30px;
  padding: 10px;
  border-radius: 12px;
  background-color: #DEDBD7
}

button:hover {
  background-color:#5A7684;
  color: white;
  cursor: pointer;
}
